<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    {% load staticfiles %}

    <link rel="stylesheet" href="{% static 'weather/index.css' %}" />
    {% load staticfiles %}
    <link
      rel="shortcut icon"
      href="{% static 'weather/weather.jpg'}"
      type="image/jpg"
    />
    <title>Weather App</title>
  </head>
  <body>
    <section id="hero">
      <div class="container">
        <h1 class="title">
          What's weather Like Today?
        </h1>
      </div>
    </section>

    <section id="form">
      <div class="container">
        <div class="form">
          <form action="{% url  'result' %}" method="POST">
            {% csrf_token %}
            <fieldset>
              <input type="text" name="city" required />
              <button for="city" type="submit" class="btn btn-primary">
                Add City
              </button>
            </fieldset>
          </form>
        </div>
      </div>
    </section>

    <section id="results">
      <div class="container">
        <p style="margin:40px;">
          Type name of a city to get wether conditions.
        </p>
      </div>
    </section>
    <br />

    <section class="footer">
      <p>&copy; Amos Ndonga, amosndonga@gmail.com, 2019</p>
    </section>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
